<!DOCTYPE HTML>
<html>
<head>
{{ yield title() }}
<style>
a {
  text-decoration: none;
}
</style>
</head>
<body>
{{ yield body() }}
</body>
</html>

{{ block title() }}
<title>GEncSet</title>
{{ end }}
